{% load sponsorship_tags %}

{% sponsor_levels as levels %}

<div class="sponsor-list">
{% for level in levels %}
    {% if level.sponsors %}
    <h3>{{ level.name }}</h3>
    <div class="row">
      {% for sponsor in level.sponsors %}
        <div class="col-xs-6 col-sm-3 col-lg-2">
          {% include "sponsorship/_sponsor_logo_or_name.html" with sponsor=sponsor %}
      </div>
        {% if forloop.counter == 6 %}<div class="cleafix"></div>{% endif %}
      {% endfor %}
    </div>
    {% endif %}
{% endfor %}
</div>
