{% extends "site_base.html" %}

{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}
{% load boxes_tags %}

{% block head_title %}{% trans "Sponsorship" %}{% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body %}
    <h1>{% trans "About Our Sponsors" %}</h1>
    {% box "sponsor_before" %}

    {% sponsors "Diamant" as sponsors_diamant %}
    {% sponsors "Platine" as sponsors_platine %}
    {% sponsors "Or" as sponsors_or %}
    {% sponsors "Argent" as sponsors_argent %}
    {% sponsors "Bronze" as sponsors_bronze %}

    {% if sponsors_diamant %}
      <h2><small>Sponsor</small> Diamant</h2>
      <div class="row">
        {% for sponsor in sponsors_diamant|dictsort:"name"  %}
          <div class="col-sm-3 col-lg-2">
            <h3>{% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="220x220" %}</h3>
          </div>
          <div class="col-sm-9 col-lg-10">
            <div>{{ sponsor.listing_text|urlize|linebreaks }}</div>
            <p><a href="{{ sponsor.external_url }}" target="_blank">{{ sponsor.external_url }}</a></p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if sponsors_platine %}
      <h2><small>Sponsor</small> Platine</h2>
      <div class="row">
        {% for sponsor in sponsors_platine|dictsort:"name"  %}
          <div class="col-sm-3 col-lg-2">
            <h3>{% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="180x180" %}</h3>
          </div>
          <div class="col-sm-9 col-lg-10">
            <div>{{ sponsor.listing_text|urlize|linebreaks }}</div>
            <p><a href="{{ sponsor.external_url }}" target="_blank">{{ sponsor.external_url }}</a></p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if sponsors_or %}
      <h2><small>Sponsor</small> Or</h2>
      <div class="row">
        {% for sponsor in sponsors_or|dictsort:"name"  %}
          <div class="col-sm-6 col-lg-4">
            <h3>{% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="120x120" %}</h3>
            <div>{{ sponsor.listing_text|urlize|linebreaks }}</div>
            <p><a href="{{ sponsor.external_url }}" target="_blank">{{ sponsor.external_url }}</a></p>
          </div>
          <div class="{% cycle '' 'clearfix' %} visible-sm visible-md"></div>
          <div class="{% cycle '' '' 'clearfix' %} visible-lg"></div>
        {% endfor %}
      </div>
    {% endif %}


    {% if sponsors_argent %}
      <h2><small>Sponsor</small> Argent</h2>
      <div class="row">
        {% for sponsor in sponsors_argent|dictsort:"name"  %}
          <div class="col-xs-6 col-sm-4 col-lg-3">
            <h3>{% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="200x200" %}</h3>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if sponsors_bronze %}
      <h2><small>Sponsor</small> Bronze</h2>
      <div class="row">
        {% for sponsor in sponsors_bronze|dictsort:"name"  %}
          <div class="col-xs-6 col-sm-3 col-lg-2">
            <h3>{% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="140x140" %}</h3>
          </div>
        {% endfor %}
      </div>
    {% endif %}

{% endblock %}


{% block sidebar %}
    {% box "sponsor_sidebar" %}
{% endblock %}

{% block postface %}
    {% box "sponsor_after" %}
{% endblock %}
