{% extends "site_base.html" %}

{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}
{% load boxes_tags %}

{% block head_title %}{% trans "Sponsorship" %}{% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body_outer %}
    <h1>{% trans "About Our Sponsors" %}</h1>
    {% box "sponsor_before" %}
    <a href="{% url "cms_page" "partenariat/devenir-sponsor/" %}" class="btn">{% trans "Learn how to become a sponsor" %} <span class="glyphicon glyphicon-arrow"></span></a>

    {% sponsor_levels as levels %}
    {% for level in levels %}
      {% if level.sponsors %}
      <h2><small>Sponsor</small> {{ level.name }}</h2>
      <div class="row">

        {% for sponsor in level.sponsors|dictsort:"name"  %}
          {% if sponsor.website_logo %}
            {% if level.name == "Or" %}{{ sponsor }}
              <div class="col-sm-4 col-lg-3">
                <h3>{% include "sponsorship/_sponsor_logo_or_name.html" %}</h3>
              </div>
              <div class="col-sm-8 col-lg-9">
                <div>{{ sponsor.listing_text|urlize|linebreaks }}</div>
                <p><a href="{{ sponsor.external_url }}" target="_blank">{{ sponsor.external_url }}</a></p>
              </div>
            {% elif level.name == "Argent" %}
              <div class="col-sm-6">
                    <h3>{% include "sponsorship/_sponsor_logo_or_name.html" %}</h3>
                <div>{{ sponsor.listing_text|urlize|linebreaks }}</div>
                <p><a href="{{ sponsor.external_url }}" target="_blank">{{ sponsor.external_url }}</a></p>
              </div>

            {% elif level.name == "Bronze" %}
              <div class="col-xs-6 col-sm-3">
                <h3>{% include "sponsorship/_sponsor_logo_or_name.html" %}</h3>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}

{% endblock %}


{% block sidebar %}
    {% box "sponsor_sidebar" %}
{% endblock %}

{% block postface %}
    {% box "sponsor_after" %}
{% endblock %}
