{% extends "site_base.html" %}

{% load bootstrap %}
{% load i18n %}
{% load boxes_tags %}

{% block page_title %}{% trans "Subscribe to" %} &ldquo;{{ presentation.title }}&rdquo;{% endblock %}

{% block body %}

<h1>{% trans "Subscribe form" %} </h1>

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <legend>{% trans "Subscribe to" %} &ldquo;{{ presentation.title }}&rdquo;</legend>
    <fieldset>
        {{ form|bootstrap }}
    </fieldset>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
        <a class="btn" href="{% url "schedule_presentation_detail" presentation.pk %}">{% trans "Cancel" %}</a>
    </div>
</form>

{% endblock %}

{% block sidebar %}
    {% box "subscribe_info" %}
    <h2>{% trans "Prerequistes" %}</h2>
    <div class="prerequistes">{{ presentation.subscription.prerequistes }}</div>
{% endblock %}
