<p class="communiquer">
    <a title="twitter" href="https://twitter.com/toulibreorg" id="twitter">Twitter</a>
    <a title="Google+" href="https://plus.google.com/b/109128243242581226442/109128243242581226442/posts" id="google">Google+</a>
    <a title="Diaspora" href="https://framasphere.org/u/toulibreorg" id="diaspora">Diaspora</a>
    <a title="Facebook" href="https://www.facebook.com/pages/Toulibre/198002937051300" id="facebook">Facebook</a>
    <a title="Flickr" href="https://www.flickr.com/groups/capitole-du-libre" id="flickr">Flickr</a>
</p>
<p>
    <a title="Capitole du Libre sur twitter" href="https://twitter.com/hashtag/cdl2015">#cdl2015</a>
</p>
