{% load sponsorship_tags %}
{% load thumbnail %}
{% load boxes_tags %}

{% sponsor_levels as levels %}

<h4>Sponsors</h4>

<div class="sponsor-list">
    {% box "sponsor-top" %}
    {% sponsors "Diamant" as sponsors_diamant %}
    {% sponsors "Platine" as sponsors_platine %}
    {% sponsors "Or" as sponsors_or %}
    {% if sponsors_diamant %}
      <h3>Diamant</h3>
      {% for sponsor in sponsors_diamant %}
          <div>
              {# {% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="180x180" %} #}
              {% include "sponsorship/_sponsor_logo_or_name.html" with sponsor=sponsor %} 
		
          </div>
      {% endfor %}
    {% endif %}
    {% if sponsors_platines %}
      <h3>Platine</h3>
      {% for sponsor in sponsors_platine %}
          <div>
              {# {% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="150x150" %} #}
              {% include "sponsorship/_sponsor_logo_or_name.html" with sponsor=sponsor %} 
          </div>
      {% endfor %}
    {% endif %}
    {% if sponsors_or %}
      <h3>Or</h3>
      {% for sponsor in sponsors_or %}
          <div>
              {# {% include "sponsorship/_sponsor_link.html" with sponsor=sponsor dimensions="100x100" %} #}
              {% include "sponsorship/_sponsor_logo_or_name.html" with sponsor=sponsor width="100" %} 
          </div>
      {% endfor %}
    {% endif %}
</div>
