{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load proposal_tags %}
{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}{% endblock %}

{% block header_extra %}
<div class="row" id="comm" >
    <div class="col-md-12 text-center">
      {% include "_comm.html" %}
    </div>
</div>
{% endblock %}

{% block site_brand %}
    <a class="navbar-brand text-hide" href="{% url "home" %}">{{ SITE_NAME }}</a>
{% endblock %}
{% block body_base %}
        <!-- Main Content -->
        <div id="content">
          <section class="banner" id="annulation">
            <div class="container">
              {% box "annulation" %}
            </div>
          </section>
        </div>
{% endblock %}
