{% load i18n %}

<table class="table table-striped table-bordered table-reviews">
    <thead>
      <tr>
        <th>#</th>
        <th>{% trans "Speaker" %}</th>
        <th>{%trans "Title" %}</th>
        <th>{% trans "Category" %}</th>
        <th>{%trans "Duration" %}</th>
        <th>{%trans "Audience Level" %}</th>
        <th>{% trans "Status" %}</th>
        <th><i class="fa fa-comment"></i></th>
        <th>{% trans "+1" %}</th>
        <th>{% trans "+0" %}</th>
        <th>{% trans "-0" %}</th>
        <th>{% trans "-1" %}</th>
        <th><a href="#" class="tip" title="{% trans "Your Rating" %}"><i class="fa fa-user"></i></a></th>
	</tr>
    </thead>

    <tbody>
        {% for proposal in proposals %}
            <tr class="{{ proposal.user_vote_css }}">
                <td>{{ proposal.number }}</td>
                <td><em>{{ proposal.speaker }}</em></td>
                <td>
                    <a href="{% url "review_detail" proposal.pk %}">
                        <strong>{{ proposal.title }}</strong>
                    </a>
                </td>
                <td>{{ proposal.category }} <small>({{ proposal.kind }})</small></td>
                <td>{{ proposal.duration }}</td>
                <td>{{ proposal.audience_level }}</td>
                <td>
                    {% with proposal.result.status as status %}
                        <div class="{{ status }}">
                            {% if status != "undecided" %}
                                <span>{{ status }}</span>
                            {% endif %}
                        </div>
                    {% endwith %}
                </td>
                <td>{{ proposal.comment_count }}</td>
                <td>{{ proposal.plus_one }}</td>
                <td>{{ proposal.plus_zero }}</td>
                <td>{{ proposal.minus_zero }}</td>
                <td>{{ proposal.minus_one }}</td>
                <td>{{ proposal.user_vote|default:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
