{% extends "site_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load sitetree %}

{% block head_title %}{{ presentation.title }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body %}
    <h1><small>{{ presentation.proposal.kind }}</small><br />{{ presentation.title }}</h1>

    <h2><small>
        {% for speaker in presentation.speakers %}
            <a href="{% url "speaker_profile" speaker.pk %}">{{ speaker }}</a>
            {% if not forloop.last %}, {% endif %}{% endfor %}
    </small></h2>

    <dl class="dl-horizontal">
        {% if presentation.proposal.category %}
        <dt>Th&eacute;matique</dt>
          <dd>{{ presentation.proposal.category }}</dd>
        {% endif %}
        {% if presentation.proposal.get_audience_level_display %}
        <dt>Niveau</dt>
          <dd>{{ presentation.proposal.get_audience_level_display }}</dd>
        {% endif %}
        {% if presentation.slot %}
        <dt>Horaire</dt>
          <dd><span class="date">{{ presentation.slot.day.date|date:"l d b" }}</span>,
              <span class="time">{{ presentation.slot.start|date:"H:i" }} &ndash;
                {{ presentation.slot.end|date:"H:i" }}</span></dd>
        <dt>Salle</dt>
          <dd><span class="label label-danger">{{ presentation.slot.rooms|join:", " }}</span></dd>
        {% endif %}

        {% if presentation.registration %}
        <dt>Acc&egrave;s</dt>
            {% if presentation.registration.is_closed %}
            <dd>Sur inscription. <span class="text-danger">Les inscriptions sont closes</span>.</dd>
            {% else %}
            <dd><a href="{% url "register_to_presentation" presentation.pk %}">Sur inscription</a></dd>
            {% endif %}
        {% endif %}

    </dl>

    <h2>Description</h2>

    <div class="row media">
        <div class="description media-body col-md-6">{{ presentation.description }}</div>

        <div class="media-object col-md-6">
        {% for coverage in presentation.coverages.all %}
            {% if coverage.coverage_type == "video" %}
                <div class="item">{% include "coverage/_video.html" %}</div>
            {% elif coverage.coverage_type == "audio" %}
                <div class="item">{% include "coverage/_audio.html" %}</div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
    {% if presentation.abstract %}
    <h2>{% trans "Abstract" %}</h2>
    <div class="abstract">{{ presentation.abstract|safe }}</div>
    {% endif %}

    {% if presentation.registration %}
        {% if not presentation.registration.is_closed %}
        <p class="alert alert-info">L'inscription &agrave; cet atelier est n&eacute;cessaire, il reste {{ presentation.registration.places_left }} places.
            <a class="btn btn-default" href="{% url "register_to_presentation" presentation.pk %}">Je m'inscris !</a></p>
        {% endif %}
    {% endif %}

{% endblock %}

{% block sidebar %}
<section class="media">
    {% if presentation.coverages.exists %}
        <h2>{% trans "Coverage" %}</h2>
    {% endif %}

    {% if user.is_staff or user.speaker_profile == presentation.speaker or user.speaker in presentation.additionnal_speakers %}
        <p class="text-right">
        <a class="btn btn-sm btn-default" href="{% url "coverage_add" presentation.pk %}">Ajouter un media</a>
        </p>
    {% endif %}

    <h2 class="text-hide">Intervenant(es)</h2>
    {% for speaker in presentation.speakers %}
        <h3><em>{{ speaker }}</em></h3>
        {% if speaker.photo %}
        <img src="{% thumbnail "speaker.photo" '128x128' %}" class="pull-right media-object" alt="{{ speaker.name }}" />
        {% endif %}
        <div class="speaker-bio">{{ speaker.biography|truncatewords_html:20 }}</div>
        <p><a href="{% url "speaker_profile" speaker.pk %}">{% trans "See more" %}</a></p>

    {% endfor %}
    <div class="clearfix"></div>
    {% if user.is_staff or user.speaker_profile in presentation.speakers %}
        <h2>Admin</h2>
        <p>
        {% if presentation.registration %}
        <a class="btn btn-sm btn-default" href="{% url "registration_edit" presentation.pk %}">&Eacute;diter le formulaire</a>
        {% else %}
        <a class="btn btn-sm btn-default" href="{% url "registration_add" presentation.pk %}">Ajouter un formulaire</a>
        {% endif %}
        </p>
    {% endif %}
</section>
{% endblock %}
