{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}
{% load sitetree %}

{% block head_title %}Presentations Listing{% endblock %}


{% block breadcrumbs %}<ol class="breadcrumb">
<li><a href="{% url "home" %}"><span class="fa fa-home"></span><span class="sr-only">Accueil</span></a></li>
<li><a href="{% url "schedule_base" %}">Programme</a></li>
<li><a href="{% url "schedule_list" schedule.section.slug %}">{{ schedule.section.name }}</a></li>
{% if category  %}<li>{{ category }}</li>{% endif %}
</ol>
{% endblock %}

{% block body %}
    <h1>{{ schedule.section.name }}


    {% if schedule.section.slug != "stands" %}
    <small>&ndash;
      {% if category  %}
          {{ category }}
      {% else %}
          Toutes th&eacute;matiques
      {% endif %}</small>
    {% endif %}
  </h1>

    {% if schedule.section.slug != "stands" %}
        <ul class="nav nav-pills">
            <li {% if not category %}class="active"{% endif %}>
              <a href="{% url "schedule_list" schedule.section.slug %}"><small>&laquo;</small></a></li>
            {% for categ in categories %}
            <li {% if category and categ == category %}class="active"{% endif %}>
              <a href="{% url "schedule_list" schedule.section.slug categ.slug %}">{{ categ }}</a></li>
            {% endfor %}
        </ul>
        {% if not presentations %}
        <p>Pas de pr&eacute;sentations dans cette th&eacute;matique.
          <a href="{% url "schedule_list" schedule.section.slug %}">Retour &agrave; toutes les th&eacute;matiques</a></p>{% endif %}
    {% endif %}

    <div class="row">
        {% for presentation in presentations %}
        <div class="col-sm-6 presentation" id="presentation-{{ presentation.pk }}">
            <div class=" well">
                <h2><a href="{% url "schedule_presentation_detail" presentation.pk %}">{{ presentation.title }}</a>
                   &ndash; <small>{{ presentation.speakers|join:", " }}</small></h2>

                <div class="presentation-category">
                  <span class="label label-tag">{{ presentation.proposal.category }}</span>
                  {% if presentation.proposal.audience_level %}
                  <br />
                  <span class="label label-primary">{{ presentation.proposal.get_audience_level_display }}</span>{% endif %}
                </div>

                {% if presentation.slot %}
                <p class="session">
                  <span class="date">{{ presentation.slot.day.date|date:"l" }}</span>,
                  <span class="time label label-warning">
                    <span class="start">{{ presentation.slot.start|date:"H:i" }}</span> &ndash;
                    <span class="end">{{ presentation.slot.end|date:"H:i" }}</span></span>
                    <span class="label label-default">{{ presentation.slot.rooms|join:", " }}</span>
                  </p>
                {% endif %}

                {{ presentation.description }}

                {% if presentation.coverages.count > 0 %}
                    <div class="coverages text-right text-muted">
                    <a href="{% url "schedule_presentation_detail" presentation.pk %}" alt="voir les media sur la presentation">
                        <span class="glyphicon glyphicon-chevron-right"></span> {% trans "Coverage" %}</a>
                    {% for coverage in presentation.coverages.all %}
                        {% if coverage.coverage_type == 'video' %}
                        <span class="glyphicon glyphicon-film"></span>
                        {% elif coverage.coverage_type == 'audio' %}
                        <span class="glyphicon glyphicon-headphones"></span>
                        {% elif coverage.coverage_type == 'photos' %}
                        <span class="glyphicon glyphicon-picture"></span>
                        {% elif coverage.coverage_type == 'slides' %}
                        <span class="glyphicon glyphicon-file"></span>
                        {% elif coverage.coverage_type == 'link' %}
                        <span class="glyphicon glyphicon-link"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-file"></span>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
